<dl class="footerCategories footerSection"><dt class="footerSectionHeader">Assuntos</dt>
  <% @environment.top_level_categories.each do |item| %>
    <dd class="footerSectionBody category_<%= item.path %>" >
      <%= link_to(item.name, {:controller => :search, :action => 'category_index', :category_path => item.path }, :title => item.name, :style=>"color: ##{item.display_color || '000000'}" ) %>
    </dd>
  <% end %>
</dl><!-- fim id="cat_menu" find(:all, :conditions => {:display_in_menu => true}). -->
